<div class='panel' ng-repeat="(panel_key, field_array) in panels">
    <div>{{panel_key}}</div>
    <div ng-repeat="field in field_array">

        <div class="field" ng-repeat="f in field">
            <label for="{{f.name}}">{{f.label}}</label>
            {{f.name}}
        </div>
    </div>

</div>
<style>
    .panel{
        width:80%;
        float:left;
        border:1px solid #CCCCCC;
        background-color:#e5e5e5;
    }

    .field{
        width:50%;
        float:left;
    }

</style>